*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

    /* navbar start */
#nav_menu:hover{
    color: rgb(227, 103, 25);
    border-bottom: 2.5px solid #12e6a6;
}
nav img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#drop_items li a:hover{
    color: rgb(227, 103, 25);
}
#btn{
    padding: .3rem 1rem;
    border-radius: 15px;
    color: #000;
    border-color: #12e6a6;
}
#btn:hover{
    color: #fff;
    background-color:  rgb(227, 103, 25);
    border-color: rgb(227, 103, 25);
}
#sign{
    margin: 0 .5rem;
    padding: auto 0;
}
#sign:hover{
    color: rgb(227, 103, 25);
    border-bottom: 2.5px solid #12e6a6;
}
    /* navbar end */

    /* navbar 2 start */
#nav_2{
    padding: .45rem;
    background: #e4e4e4;
    width: 100%;
    height: 2.5rem;
}
#nav_2 a{
    margin-left: 85%;
    text-decoration: none;
    color: #12e6a6;
}
#nav_2 a:hover{
    color: rgb(227, 103, 25);
}
    /* navbar 2 end */

    /* button start */
#nav-btn {
    align-items: center;
    justify-content: center;
    background-color: white;
}
#nav-btn .btn{
    padding: .3rem 1rem;
    margin: 20px 2%;
    border-radius: 15px;
    color: #000;
    background-color: #e8efed;
}
#nav-btn .btn:hover{
    color: #fff;
    background-color:  rgb(227, 103, 25);
    border-color: rgb(227, 103, 25);
}
    /* button end */

    /* carousel start */
#caro-in{
    align-items: center;
    justify-content: center;
    margin: 10px 25%;
}
#caro-item a img{
    height: 30%;
    width: 50%;
    border-radius: 10px;
    position: relative;
}
#caro-item a h5{
    position: absolute;
    top: 15%;
    left: 10%;
}
#caro-icon-1{
    margin-left: 20%;
}
#caro-icon-2{
    margin-right: 20%;
}
    /* carousel end */

    /* cards start */
#cards{
    margin: 10px 30px 30px 30px;
}
#cards h4{
        margin: 0 0 10px 0;
}
.row>*{
    min-width: 0;
}
.col-6{
    margin: 10px 0;
    padding: .5%;
    width: 20%;
}
    /* cards end */

    /* footer start */
footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 100px;
    background-color: #e4e4e4;
}
footer h6{
    margin: 1rem;
}
footer ul{
    display: flex;
    margin-right: 10px;
}
footer ul li{
    margin-left: 20px;
    color: #12e6a6;
}
footer ul li:hover{
    color: rgb(227, 103, 25);
}
footer ul li a{
    text-decoration: none;
    color: #000;
}
footer ul li a:hover{
    color: rgb(227, 103, 25);
    border-bottom: 2.5px solid #12e6a6;
}
    /* footer end */
