*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

    /* navbar start */
#nav-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
}
#nav-menu:hover{
    color: rgb(227, 103, 25);
    border-bottom: 2.5px solid #12e6a6;
}
nav img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#drop-items li a:hover{
    color: rgb(227, 103, 25);
}

/* #btn{
    padding: .3rem 1rem;
    border-radius: 15px;
    color: #000;
    border-color: #12e6a6;
}
#btn:hover{
    color: #fff;
    background-color:  rgb(227, 103, 25);
    border-color: rgb(227, 103, 25);
} */
#sign{
    margin: 0 .5rem;
    padding: auto 0;
}
#sign:hover{
    color: rgb(227, 103, 25);
    border-bottom: 2.5px solid #12e6a6;
}
    /* navbar end */
/*=======================================================================*/
    /* navbar 2 start */
#nav-2{
    margin-top: 80px;
    padding: .45rem;
    background: #c5c5c5;
    width: 100%;
    height: 2.5rem;
    /* z-index: 1; */
}
#nav-2 a{
    margin-left: 85%;
    text-decoration: none;
    color: #000000;
}
#nav-2 a:hover{
    color: rgb(227, 103, 25);
}
    /* navbar 2 end */
/*=======================================================================*/
    /* button start */
#nav-btn {
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px;
}
#btn-box a{
    color: #000000;
    text-decoration: none;
}
#btn-box{
    margin: 5px 5px;
    text-decoration: none;
    width: 6em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px -12px #ffffff;
}
#btn-box::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    z-index: -1;
}
#btn-box:hover::before{
    width: 6em;
}
#btn-box img{
    align-items: center;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
/* other design of button */
/* #nav-btn .btn{
    padding: .3rem 1rem;
    margin: 20px 2%;
    border-radius: 15px;
    color: #000;
    background-color: #e8efed;
}
#nav-btn .btn:hover{
    color: #fff;
    background-color:  rgb(227, 103, 25);
    border-color: rgb(227, 103, 25);
} */
    /* button end */
/*=======================================================================*/
    /* carousel start */
#caro-in{
    align-items: center;
    justify-content: center;
    margin: 10px 25%;
}
#caro-item{
    position: relative;
    align-items: center;
    justify-content: center;
}
#caro-item a img{
    height: 30%;
    width: 50%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
#caro-item h5{
    position: absolute;
    top: 0;
    left: 8%;
}
#caro-icon-1{
    margin-left: 20%;
}
#caro-icon-2{
    margin-right: 20%;
}
    /* carousel end */
/*=======================================================================*/
    /* cards start */
.container h4{
        margin: 0 0 10px 0;
}
.container h4:hover{
    margin: 0 0 10px 0;
    color: rgb(227, 103, 25);
}
.row>*{
    min-width: 0;
}
#card-item h5{
    margin: 0;
    padding: 0;
}
#card-item p{
    margin: 0;
    padding: 0;
}
#card-item{
    padding: .5%;
}

    /* cards end */
/*=======================================================================*/
/* popular places start */
#popular-links ul li{
    list-style: none;
}
#popular-h1:hover{
    color: rgb(227, 103, 25);
}
/* popular places end */
/*=======================================================================*/
    /* footer start */
footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 100px;
    background-color: #e4e4e4;
}
footer h6{
    margin: 1rem;
}
footer ul{
    display: flex;
    margin-right: 10px;
}
footer ul li{
    margin-left: 20px;
    color: #12e6a6;
}
footer ul li:hover{
    color: rgb(227, 103, 25);
}
footer ul li a{
    text-decoration: none;
    color: #000;
}
footer ul li a:hover{
    color: rgb(227, 103, 25);
    border-bottom: 2.5px solid #12e6a6;
}
    /* footer end */
/*=======================================================================*/